<html>
<head>
   <title>Angular Calculator</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="app.component.css" rel="stylesheet">
</head>
<body>
 <div class="calculator">
   <div class="calculator-display">
     <!-- Display goes here -->
     <div class="expression" *ngIf="!isResultShown">{{ expression.join('') }}</div>
     <div class="result" *ngIf="isResultShown">{{ expression.join('') }} {{ result }}</div>
   </div>
   <div class="number">
     <!-- Buttons go here -->
     <button id="one" (click)="numberPressed(1)" class="number-btn">1</button>
     <button id="two" (click)="numberPressed(2)" class="number-btn">2</button>
     <button id="three" (click)="numberPressed(3)" class="number-btn">3</button>
     <button id="four" (click)="numberPressed(4)" class="number-btn">4</button>
     <button id="five" (click)="numberPressed(5)" class="number-btn">5</button>
     <button id="six" (click)="numberPressed(6)" class="number-btn">6</button>
     <button id="seven" (click)="numberPressed(7)" class="number-btn">7</button>
     <button id="eight" (click)="numberPressed(8)" class="number-btn">8</button>
     <button id="nine" (click)="numberPressed(9)" class="number-btn">9</button>
     <button id="zero" (click)="numberPressed(0)" class="number-btn">0</button>
   </div>
   <div class="operator">
     <!-- Buttons go here -->
     <button id="plus" (click)="operatorPressed('+')" class="operator-btn">+</button>
     <button id="minus" (click)="operatorPressed('-')" class="operator-btn">-</button>
     <button id="multiply" (click)="operatorPressed('*')" class="operator-btn">*</button>
     <button id="divide" (click)="operatorPressed('/')" class="operator-btn">/</button>
     <button id="equals" (click)="operatorPressed('=')" class="operator-btn">=</button>
     <button id="decimal" (click)="operatorPressed('.')" class="operator-btn">.</button>
     <button id="clear" (click)="operatorPressed('clear')" class="operator-btn">C</button>
   </div>
 </div>
 </body>
</html>