.calculator{
    width: 300px;
}

.calculator-display{
    height: 75px;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
}

.number, .operator {
    display: grid;
    padding: 20px;
}

.number {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.operator {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.number #zero{
    grid-row: 4;
    grid-column: 2;
}

